{% extends 'inscri-layout.html.twig' %}
{% block body %}
<h1>Gestion des clubs de planche à voile : Admin</h1>
<h2>Liste des adhérens | <small><a href="inscriadheren/ajouter">Ajouter</a></small></h2>
{% for msg in app.flashes('notice') %}
<div class="alert alert-success">
{{msg}}
</div>
{% endfor %}
{{form_start(f)}}
{{form_widget(f)}}
{{form_end(f)}}
<table class="table table-hover table-striped" border="1">
<thead>
<tr>
<th>#</th>
<th>Prénom & Nom</th>
<th>E-mail</th>
<th>Ville</th>
<th></th>
</tr>
</thead>
<tbody>
{% for adheren in lesAdherens %}
<tr>
<td>{{adheren.id}}</td>
<td>{{adheren.prenom | upper}} {{adheren.nom}}</td>
<td>{{adheren.email }}</td>
<td>{{adheren.ville }}</td>
<td>
<a class="btn btn-primary" href="{{path('inscriadheren_voir', {'id':adheren.id})}}">Voir</a>
<a class="btn btn-info" href="{{path('inscriadheren_modifier', {'id':adheren.id})}}">Modifier</a>
<a class="btn btn-danger" href="{{path('inscriadheren_supprimer', {'id':adheren.id})}}">Supprimer</a>
</tr>
</td>
{% else %}
<tr>
<td colspan="5">Aucun abonné</td>
</tr>
{% endfor %}
</tbody>
</table>
<script>
$(".btn-danger").click(function(){
return confirm("Supprimer ?");
})
$(".btn-info").click(function(){
return confirm("Modifier ?");
})
</script>
{% endblock %}